.heading h1 {
  font-size: 2.5rem;
} /* 68px */
.heading h2 {
  font-size: 2.25rem;
} /* 42px */
.heading h3 {
  font-size: 1.5rem;
} /* 26px */
.heading h4 {
  font-size: 1.25rem;
} /* 20px */
.heading h5 {
  font-size: 1rem;
} /* 16px */
.heading h6 {
  font-size: 0.75rem;
} /* 13px */

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
  line-height: 1.75;
  font-family: var(--fontStackSans);
}

.heading__text-default {
  color: var(--light);
}
.heading__text-dark {
  color: var(--dark);
}
