.tempo-trainer {
  .page-heading {
    visibility: hidden;
    height: 0;

    @media screen and (min-width: 768px) {
      visibility: visible;
      height: auto;
    }
  }
}

.tempo-trainer-content {
  display: grid;
  justify-content: center;
  max-width: var(--max-width);

  &>* {
    margin-bottom: var(--em-quarter);
  }

  .level,
  .points {
    display: flex;
    align-items: center;
    gap: var(--em-eighth-dotted);
    margin-block: var(--em-eighth);
    margin-inline: 0;
    color: var(--clr-dark);
    font-size: var(--fs-eighth-dotted);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    line-height: 1;

    span {
      font-size: var(--fs-lg);
      font-weight: var(--fw-normal);
      text-transform: none;

      &.point-difference {
        font-size: var(--fs-md);
        opacity: .75;
      }
    }
  }
}

.tempo-trainer-range-groups {
  margin-block-start: calc(var(--em-sixteenth) * -1);

  &>*:not(:last-child) {
    margin-block-end: var(--em-quarter-dotted);

    @media screen and (min-width: 768px) {
      margin-block-end: var(--em-quarter-sixteenth);
    }
  }

  .tempo-range-group {
    position: relative;

    .tempo-range-title {
      position: absolute;
      top: -.75em;
      margin: 0;
      font-size: 2em;
      font-style: italic;
      line-height: 1;
      text-transform: uppercase;
      mix-blend-mode: color-dodge;
      opacity: 0.2;
      pointer-events: none;

      @media screen and (min-width: 758px) {
        position: relative;
        top: unset;
      }
    }

    .tempo-range-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--em-sixteenth);
      margin-block-start: var(--em-eighth-dotted);
      margin-block-end: 0;
      margin-inline-start: var(--em-quarter);
      padding: 0;
      border-radius: var(--border-radius);

      @media screen and (min-width: 768px) {
        margin-block-start: var(--em-sixteenth);
      }
    }
  }
}