.volume-slider {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: min-content;
    gap: var(--em-eighth);
    justify-content: start;
    align-items: center;

    label {
        grid-column: 1 / -1;
        text-transform: capitalize;
        user-select: none;
        font-size: var(--em-eighth-dotted);
    }

    svg {
        grid-row: 2;
        grid-column: 1 / 1;
        fill: var(--clr-light);
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .value-display {
        grid-row: 2;
        grid-column: 3;
        font-size: var(--fs-eighth-dotted);
    }

    input {
        --track-border-radius: 10rem;
        --track-border: var(--thumb-border);
        --track-background: var(--clr-dark);
        --track-focus-background: var(--clr-primary);
        --track-height: var(--em-eighth);
        --track-shadow: inset 1px 1px 1px var(--black);
        --thumb-shadow: 1px 1px 1px var(--black);
        --thumb-border: 1px solid var(--clr-primary);
        --thumb-size: var(--em-quarter);
        --thumb-border-radius: 50%;
        --thumb-background: var(--clr-light);
        -webkit-appearance: none;

        appearance: none;
        grid-row: 2;
        grid-column: 2;
        width: 8em;
        padding: 0;
        background: transparent;

        &:focus {
            outline: none;
        }

        &:hover {
            border-color: transparent;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: var(--track-height);
            cursor: pointer;
            box-shadow: var(--track-shadow);
            background: var(--track-background);
            border-radius: var(--track-border-radius);
            border: var(--track-border);
        }

        &::-webkit-slider-thumb {
            box-shadow: var(--thumb-shadow);
            border: var(--thumb-border);
            width: var(--thumb-size);
            aspect-ratio: 1;
            border-radius: var(--thumb-border-radius);
            background: var(--thumb-background);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: calc(var(--thumb-size) * -0.25);
        }

        &:focus::-webkit-slider-runnable-track {
            background: var(--track-focus-background);
        }

        &::-moz-range-track {
            width: 100%;
            height: var(--track-height);
            cursor: pointer;
            box-shadow: var(--track-shadow);
            background: var(--track-background);
            border-radius: var(--track-border-radius);
            border: var(--track-border);
        }

        &::-moz-range-thumb {
            box-shadow: var(--thumb-shadow);
            border: var(--thumb-border);
            border-radius: var(--thumb-border-radius);
            width: var(--thumb-size);
            aspect-ratio: 1;
            background: var(--thumb-background);
            cursor: pointer;
        }

        &::-ms-track {
            width: 100%;
            height: var(--track-height);
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }

        &::-ms-fill-lower {
            background: var(--track-background);
            border: var(--track-border);
            border-radius: var(--track-border-radius);
            box-shadow: var(--track-shadow);
        }

        &::-ms-fill-upper {
            background: var(--track-background);
            border: var(--track-border);
            border-radius: var(--track-border-radius);
            box-shadow: var(--track-shadow);
        }

        &::-ms-thumb {
            box-shadow: var(--thumb-shadow);
            border: var(--thumb-border);
            width: var(--thumb-size);
            aspect-ratio: 1;
            border-radius: var(--thumb-border-radius);
            background: var(--thumb-background);
            cursor: pointer;
        }

        &:focus::-ms-fill-lower {
            background: var(--track-focus-background);
        }

        &:focus::-ms-fill-upper {
            background: var(--track-focus-background);
        }
    }
}