.mesh-container {
  border-radius: var(--border-radius);
  border: 2px ridge var(--clr-light);
  /* padding: var(--padding-box-sm); */
  background-image: url(./mesh.svg);
  background-size: 6rem;
  box-shadow: var(--boxShadowElevationNone);
}