.header {
  background-image: var(--bg-noise-dark);

  .logo-header {
    padding: var(--padding-box-sm);

    a {
      display: block;
      margin: 0 auto;
      max-width: max-content;
      padding: var(--padding-box-sm);
      border: var(--border-ridged);
      border-radius: var(--border-radius);
      text-decoration: none;
      background-image: var(--bg-noise-dark);

      .logo {
        color: var(--clr-light);
        font-size: var(--fs-lg);
        font-weight: 700;
        line-height: 1;
        filter: drop-shadow(0px 0px 2px var(--clr-primary));
        /* The shadow adds a little bit of clarity against the filter */
        text-shadow: 1px 1px 0 var(--clr-dark), -1px 1px 0 var(--clr-dark),
          1px -1px 0 var(--clr-dark), -1px -1px 0 var(--clr-dark);
      }
    }
  }

  .apps-header nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--em-xs);
    padding-block-end: var(--em-sm);
    padding-inline: var(--em-md);

    a {
      --outline-width: 1px;
      display: block;
      flex: 1 0 max-content;
      padding: var(--padding-box-xs);
      /* Something funky here? */
      border-radius: var(--rem-xs);
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      outline-width: 0;
      outline-color: inherit;
      outline-style: dotted;
      outline-offset: calc(var(--outline-width) * -1);
      user-select: none;

      /* Acive state not working? */
      &:active {
        color: var(--clr-primary);
        background-image: var(--bg-noise-dark);
      }

      &:not(.active) {
        color: var(--clr-dark);
        background-image: var(--bg-noise-primary);
      }

      &:focus {
        outline-width: var(--outline-width);
      }
    }
  }
}