.MetronomeControls {
  width: 100%;
  text-align: center;
}

.metronomeControls__container-bpm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--em-quarter);
  margin: 1em 0;
}

.metronomeControls__container-bpm>* {
  flex: 0 auto;
}

.bpm-display {
  margin: 1rem 2.5rem;
  width: 4ch;
  line-height: 1;
  border-radius: 0.5rem;
  border: 2px ridge var(--clr-light);
  background: var(--clr-dark);
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-light);
}

.beat__controls {
  display: none;
}

.form {
  width: max-content;
  margin: 0 auto;
}

.checkgroup {
  display: flex;
  text-align: center;
  margin-top: 1em;
  font-size: 0.75em;
  color: var(--clr-dark);
  padding: var(--padding);
}

.checkgroup label {
  cursor: pointer;
}

.checkgroup input {
  cursor: pointer;
  margin-right: 1em;
}

.checkgroup:focus {
  box-shadow: 2px 2px 2px black;
}

/* #endregion */