.volume-settings {
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* padding: var(--padding-box); */

    /* TODO fix transition */
    #controls {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: var(--padding-box);
        width: 100%;
        background-color: var(--clr-dark);
        border: var(--border);
        overflow: hidden;
        transition: max-height var(--duration-md);
        max-height: 0;
        z-index: 10;
        opacity: 0;
        bottom: 100%;

        &[data-is-opened="true"] {
            max-height: 500px;
            opacity: 1;
        }
    }
}