.main-layout-grid {
  display: grid;
  grid-template-columns: [start] var(--em-quarter) [pad-start]1fr [center] 1fr[pad-end]var(--em-quarter) [end];
  grid-auto-rows: min-content;

  &>* {
    grid-column: pad-start / pad-end;
  }

  .main-layout-grid-with-gutter {
    grid-column: pad-start / pad-end;
  }

  .main-layout-grid__centered {
    grid-column: pad-start / pad-end;
    justify-self: center;
    max-width: var(--max-width);
  }

  .main-layout-grid-left-gutter {
    grid-column-start: pad-start;
    grid-column-end: auto;
  }

  .main-layout-grid__full-width {
    grid-column: start / end;
  }
}

.button-link {
  border: 2px ridge var(--clr-light);
  border-radius: 1.5rem;
  background: var(--clr-dark);
  padding: var(--padding) calc(var(--padding) * 1.5);
  color: var(--clr-light);
  transition: all var(--duration-sm);
  user-select: none;
  filter: drop-shadow(var(--filterShadowElevationOne));
  outline-width: 0;
  outline-color: inherit;
  outline-style: dotted;
  outline-offset: 2px;
  text-transform: uppercase;
}