@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

:root {
	/* colors */
	--white: hsl(0, 0%, 99%);
	--light: #ccc8c5;
	--lightAccent: #929691;
	--medium: #716a65;
	--darkAccent: #888c92;
	--dark: #32312e;
	--black: hsl(120, 15%, 5%);

	/* sizes */
	--margin: 0.618rem;
	--padding: 0.618rem;
	--maxWidth: 1333px;
	--tablet: 768px;
	--desktop: 1080px;

	/* box model */
	--boxShadow: 0 0 10px hsla(50, 15%, 20%, 0.5);
	--border: 1px solid var(--dark);
	--borderRadius: 1rem;
	--fontStackSans: 'Lexend Mega', sans-serif;
	--fontStackSerif: 'Georgia', serif;

	/* animations */
	--softIn: softIn 0.33s ease-in;
}

/* set default base size for deveice and reading distance */
/* mobile */
html {
	font-size: 16px;
}
/* tablet */
@media only screen and (min-width: 768px) {
	html {
		font-size: 18px;
	}
}
/* desktop */
@media only screen and (min-width: 1080px) {
	html {
		font-size: 22px;
	}
}

body {
	font-family: var(--fontStackSans);
	box-sizing: border-box;
	margin: 0;
	background: var(--lightAccent);
	color: var(--light);
	width: 100vw;
	height: 100vh;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
	font-size: 2.618rem;
} /* 68px */
h2 {
	font-size: 2.32rem;
} /* 42px */
h3 {
	font-size: 1.618rem;
} /* 26px */
h4 {
	font-size: 1.32rem;
} /* 20px */
h5,
p {
	font-size: 1rem;
} /* 16px */
h6 {
	font-size: 0.618rem;
} /* 13px */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.618;
	font-family: var(--fontStackSans);
	color: var(--light);
}

p {
	font-family: var(--fontStackSans);
	color: var(--light);
	margin: var(--margin);
}

a {
	text-decoration: none;
	color: var(--green);
}

ul {
	font-family: var(--fontStackSans);
	list-style-type: none;
}

blockquote {
	font-family: var(--fontStackSans);
	color: var(--dark);
}

cite {
	font-family: var(--fontStackSans);
	font-size: 0.66rem;
	font-weight: normal;
	color: var(--dark);
}

input,
textarea {
	outline-color: var(--light);
}

button {
	background: var(--dark);
	padding: var(--padding) calc(var(--padding) * 1.5);
	color: var(--light);
	border: 1px solid var(--darkAccent);
	border-radius: var(--borderRadius);
	outline: none;
	cursor: pointer;
}
@keyframes softIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
