#preloader {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    background: var(--clr-primary);
    z-index: 9999;
    transition: opacity 0.5s ease-out;

    .spinner {
        --spinner-size: var(--em-whole);
        width: var(--spinner-size);
        height: var(--spinner-size);
        border: var(--em-eighth) solid var(--clr-light);
        border-top-color: var(--clr-dark);
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}