.tempo-tapper {
	background-color: var(--light);
	overflow-x: hidden;
}

.tempo-tapper main {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	background-color: var(--light);
	padding: var(--padding);
	margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
	.tempo-tapper main {
		flex-direction: row;
	}
}

.tempo-tapper h2,
.tempo-tapper h4,
.tempo-tapper p {
	color: var(--dark);
}

.tempo-tapper h2 {
	font-size: 1.5rem;
}
.tempo-tapper h4 {
	font-size: 1rem;
}

.tempo-tapper p {
	font-size: 1rem;
}

.tapper__display h4 {
	margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
	.tapper__display h4 {
		margin: 0;
	}
	.tapper__display {
		min-width: 16em;
	}
}

.tapper__display p {
	margin: 1.3em;
	color: var(--dark);
	text-shadow: 1px 1px 0em var(--lightAccent),
		-1px -1px 0em var(--lightAccent), 0 0 4px var(--light);
}

.tap__button {
	--dimension: 8em;
	cursor: pointer;
	width: var(--dimension);
	height: var(--dimension);
	outline: 0;
	border: 1px solid var(--dark);
	border-radius: 50%;
	box-shadow: var(--boxShadow);
	background: var(--lightAccent);
	color: var(--white);
	text-shadow: 0 0 4px var(--light);
	transition: transform 161ms;
	animation: var(--softIn);
}

.tap__button:active {
	transform: scale(1.0618);
	border-radius: 50%;
	outline: 0;
}

.tap__button:focus {
	border-radius: 50%;
	box-shadow: var(--boxShadow), inset 0 0 0.25em rgba(0, 0, 0, 0.25);
}
