/* .tempo-tapper {
  Namespace
} */

.tempo-tapper-content-container {
  /* Default while image loads */
  background-color: var(--clr-light);
  background-image: var(--bg-noise-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &> :first-child {
    margin-block-start: var(--em-half);
  }

  &>* {
    margin-block-end: var(--em-half);
  }
}

.tempo-tapper__tempo-and-message-container {
  position: relative;

  .tempo-display,
  .tempo-tapper__message {
    font-weight: 700;
    color: var(--clr-dark);
  }

  .tempo-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--em-eighth-dotted);
    width: 100%;

    .tempo-display__label {
      font-size: var(--fs-md);
      text-transform: uppercase;
    }

    .tempo-display__value {
      font-size: var(--fs-lg);
    }
  }

  .tempo-tapper__message {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    /* Default while image loads */
    background-color: var(--clr-light);
    background-image: var(--bg-noise-light);
    transition: opacity var(--duration-md);
  }
}