/* .tempo-tapper {
  Namespace
} */

.tempo-tapper-content-container {
  gap: var(--em-lg);
  /* Default while image loads */
  background-color: var(--clr-light);
  background-image: var(--bg-noise-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &>* {
    margin-block-end: var(--em-md);
  }
}

.tempo-tapper__tempo-and-message-container {
  --tempo-height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--tempo-height);
  /* This element centers itself, so remove the default margin  */
  margin-block-end: 0;

  .tempo-display,
  .tempo-tapper__message {
    font-weight: 700;
    color: var(--clr-dark);
  }

  .tempo-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--em-sm);

    .tempo-display__label {
      font-size: var(--fs-md);
      text-transform: uppercase;
    }

    .tempo-display__value {
      font-size: var(--fs-lg);
    }
  }

  .tempo-tapper__message {
    text-align: center;
  }
}