.tapper {
  padding: var(--size-lg);
}

.tapper main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* tap button is inverted on children*/
  margin: 0 auto;
  /* padding-bottom: 0rem; */
  max-width: 30rem;
}

@media only screen and (min-width: 768px) {
  .tapper main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.tapper h3,
.tapper p {
  color: var(--dark);
  text-align: center;
}

.tapper h3 {
  font-size: 1rem;
  margin: 1.5em 0 0;
}

.tapper p {
  font-size: 1rem;
}

.tapper__display {
  grid-row-start: 2;
}

@media only screen and (min-width: 768px) {
  .tapper__display h3 {
    margin: 0;
  }
  .tapper__display {
    min-width: 16em;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.tapper__display p {
  margin: 0 1.25em 1.25em 1.25em;

  color: var(--dark);
  text-shadow: 1px 1px 0em var(--accent), -1px -1px 0em var(--accent),
    0 0 4px var(--light);
}

.tapper__display button {
  display: block;
  margin: 0 auto;
}
