.tapper {
  padding: var(--size-lg);
  background-image: var(--bg-noise-light);
}

.tapper__main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* tap button is inverted on children*/
  margin: 0 auto;
  /* padding-bottom: 0rem; */
  max-width: 30rem;
}

@media only screen and (min-width: 768px) {
  .tapper__main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.tapper__heading,
.tapper__tempo {
  font-weight: 700;
  color: var(--clr-dark);
  text-align: center;
}

.tapper__heading {
  font-size: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 0;
}

.tapper__tempo {
  font-size: 1rem;
}

.tapper__display {
  grid-row-start: 2;
}

@media only screen and (min-width: 768px) {
  .tapper__display .tapper__heading {
    margin: 0;
  }

  .tapper__display {
    min-width: 16em;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.tapper__display .tapper__tempo {
  margin: 0 1.25em 1.25em 1.25em;
  color: var(--clr-dark);
}

.tapper__display button {
  display: block;
  margin: 0 auto;
}