.settings-link {
    a {
        display: inline-flex;
        align-items: center;
        gap: var(--em-xs);
        padding: var(--padding-box-xs);
        font-size: var(--em-sm);
        text-decoration: none;
        text-transform: uppercase;
    }

    svg {
        height: var(--em-lg);
        fill: var(--clr-light);
    }
}