.settings-link {
    a {
        display: inline-flex;
        align-items: center;
        gap: var(--em-eighth);
        padding: var(--padding-box-xs);
        font-size: var(--fs-eighth-dotted);
        text-decoration: none;
        text-transform: uppercase;
    }

    svg {
        height: var(--em-quarter-sixteenth);
        fill: var(--clr-light);
    }
}